@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>
        Shohana Howlader
       
        
    </h3>
    <h4>01818790904</h4>
    <h4>shohanahowlader@gmail.com</h4>
</div>
